@import '~@angular/material/theming';

@include mat-core();

$blue-theme-primary: mat-palette($mat-blue);
$blue-theme-accent:  mat-palette($mat-blue);

$blue-theme: mat-light-theme($blue-theme-primary, $blue-theme-accent);

@include angular-material-theme($blue-theme);